<br />
  <div class="responsive">
    <div class="row">
      <div class="col-md-3" style="background-color: black;">
        <ul class="u1">
          <li>
            <a href="#">Home</a>
            
          </li>
          <li>
            <a href="#">Counter</a>
          </li>
          <li>
            <a routerLink="/fetch">Fetch data</a>
          </li>
        </ul>
      </div>
     
    </div>
  </div>
  <div>
    <h2 style="margin-left:580px;">Click Fetch To Drop-Down</h2>
  <table class="table table-stripped" style="width: 50%;margin-left: 450px;">
    <tr>
      <th>Date</th>
      <th>Temp.(C)</th>
      <th>Temp.(F)</th>
      <th>Summary</th>
    </tr>
  </table>
  </div>
<router-outlet>

</router-outlet>